                                #* @vtlvariable name="queryResult" type="de.materna.cms.cae.forms.QueryResult" *#
                                #* @vtlvariable name="topic" type="org.apache.solr.client.solrj.response.FacetField" *#
                                #* @vtlvariable name="hasEntries_topic" type="java.lang.Boolean" *#
                                #* @vtlvariable name="docType" type="org.apache.solr.client.solrj.response.FacetField" *#
                                #* @vtlvariable name="hasEntries_docType" type="java.lang.Boolean" *#

                                #set( $queryResult = $CMUtil.getRequest().getAttribute("queryResult") )
                                #if( $queryResult.getNumTotalResults() > 0 )
                                    #if( $hasEntries_topic || $hasEntries_docType )
<div class="module_suchergebnisfilter fake-dropdown">
    <div class="facets boxWrapper">

        $form.InitAddFormParams
                                        #set( $topicRequestValue = $CMUtil.getRequest().getParameter($topic.Name) )
                                        #set( $docTypeRequestValue = $CMUtil.getRequest().getParameter($docType.Name) )

        <h3 class="aural">
            $cms.message("SuchergebnisseFiltern")
        </h3>

                                        ## filter by topics

        <ul class="links show-on-hover">
                                        #if( $hasEntries_topic )
                                            #foreach( $facetValue in $topic.Values )
                                                #set( $facetTitle = $facetValue.Name )
                                                #if( "$!facetTitle" != "" )
                                                    #if( ! $topicRequestValue.contains($facetTitle) )
                                                        #set( $link = $CMUtil.getFacetLinkForParameter($form,${topic.Name},$facetTitle,"${docType.Name}","gts") )
            <li><a href="$link">$cms.message("Suche_Facette_Typ_${facetTitle}") (<span class="aural">$cms.message("Suche_Facette_Anzahl") </span>$facetValue.Count)</a></li>
                                                    #elseif( $topicRequestValue.indexOf($facetTitle) > 0 )
            <li class="selectedFacet"><span class="aural">$cms.message("Suche_Facette_Active") </span><strong>$cms.message("Suche_Facette_Typ_${facetTitle}") (<span class="aural">$cms.message("Suche_Facette_Anzahl") </span>$facetValue.Count)</strong></li>
                                                    #else
                                                        ##Dont show active in list
                                                    #end
                                                #end
                                            #end ## ende foreach
                                        #end
                                        ## filter by doctype
                                        #if( $hasEntries_docType )
                                            #foreach( $facetValue in $docType.Values )
                                                #set( $facetTitle = $facetValue.Name )
                                                #if( "$!facetTitle" != "" && "$!facetTitle" != "publication" )
                                                    #if( !$docTypeRequestValue.contains($facetTitle) )
                                                        #set( $link = $CMUtil.getFacetLinkForParameter($form,${docType.Name},$facetTitle, "${topic.Name}","gts") )
            <li><a href="$link">$cms.message("Suche_DocType_${facetTitle}") (<span class="aural">$cms.message("Suche_Facette_Anzahl") </span>$facetValue.Count)</a></li>
                                                    #elseif( $docTypeRequestValue.contains($facetTitle) )
                                                        ##Dont show active in list
                                                    #else
                                                        ##Dont show active in list
                                                    #end
                                                #end
                                            #end ## ende foreach

                                        #end
        </ul>

        <div class="button-text" tabindex="0">

                                        #set ( $writeLabel = false )

                                        ##topic, zeige nur wenn aktiv
                                        #if( $hasEntries_topic )
                                            #foreach( $facetValue in $topic.Values )
                                                #set( $facetTitle = $facetValue.Name )
                                                #if( "$!facetTitle" != "" )
                                                    #if( ! $topicRequestValue.contains($facetTitle) )
                                                        #set ( $writeLabel = true )

                                                        #break
                                                    #elseif( $topicRequestValue.indexOf($facetTitle) > 0 )
                                                        ##nothing
                                                    #else
            <a href="$CMUtil.getFacetLinkForParameterDeactivated($form,${topic.Name},$facetTitle,"${docType.Name}","gts")">
                <p class="has-active"><strong>$cms.message("Suche_Facette_Typ_${facetTitle}") (<span class="aural">$cms.message("Suche_Facette_Anzahl") </span>$facetValue.Count)</strong></p>
            </a>
                                                    #end
                                                #end
                                            #end ## ende foreach
                                        #end

                                        ##doctype, zeige nur wenn aktiv
                                        #if( $hasEntries_docType )
                                            #foreach( $facetValue in $docType.Values )
                                                #set( $facetTitle = $facetValue.Name )
                                                #if( "$!facetTitle" != "" && "$!facetTitle" != "publication" )

                                                    #if( !$docTypeRequestValue.contains($facetTitle) )

                                                        #set ( $writeLabel = true )
                                                    #elseif( $docTypeRequestValue.contains($facetTitle) )
            <a href="$CMUtil.getFacetLinkForParameterDeactivated($form,${docType.Name},$facetTitle, "${topic.Name}","gts")">
                <p class="has-active"><span class="aural">$cms.message("Suche_Facette_Gesetzt") </span><strong>$cms.message("Suche_DocType_${facetTitle}") (<span class="aural">$cms.message("Suche_Facette_Anzahl") </span>$facetValue.Count)</strong></p>
            </a>
                                                    #else
            <a href="$CMUtil.getFacetLinkForParameterDeactivated($form,${docType.Name},$facetTitle, "${topic.Name}","gts")">
                <p class="has-active"><strong>$cms.message("Suche_DocType_${facetTitle}") (<span class="aural">$cms.message("Suche_Facette_Anzahl") </span>$facetValue.Count)</strong></p>
            </a>
                                                    #end
                                                #end
                                            #end ## ende foreach

                                        #end

                                        #if( $writeLabel )
            <p>$cms.message("ErgebnisseFiltern")</p>
                                            #set ( $labelAlreadyWritten = true )
                                        #end

        </div>

    </div>
</div>

$form.ResetAddFormParams
                                    #end
                                #end
