.ffw_segmentInstance {

  //JS-Modul rbtnOptionButtons
  &.rbtnOptionButtons {

    > span {
      background-color: white!important;
      overflow: hidden!important;

      &.active {
        background-color: $kn-color-light-blue!important;
        color: $kn-color-dark-gray!important;
      }

      > input[type=radio] {
        display: none!important;
      }

      > label {
        display: block!important;
        width: calc(100% - 20px)!important;
        padding: 10px!important;
        text-align: center;
        font-size: 20px!important;
        position: relative!important;
        top: 50%!important;
        transform: translateY(-50%)!important;
      }
    }
  }
}

@include breakpoint($breakpoint-fms-desktop-only) {

}

@include breakpoint($breakpoint-fms-mobile-only) {

  .ffw_segmentInstance {

    .rbtn {
      width: calc(10% - #{$margin-percentage-offset}) !important;
      height: $element-height !important;
      margin-left: $margin-left-element-offset !important;
      margin-right: $margin-left-element-offset !important;
      float: left !important;
    }

    .rbtn__verzweigung {
      background-color: #eee !important;
      text-align: left !important;
      border-bottom: 1px solid #aaa !important;
      width: 100% !important;
      height: $element-height!important;
      float: left !important;

      &:last-child {
        border-bottom: none !important;
      }
    }

    //JS-Modul rbtnOptionButtons
    &.rbtnOptionButtons {
      //padding-top: 10px!important;

      > span {
        background-color: white!important;
        height: 60px!important;
        margin-top: 10px;

        > input[type=radio] {
          display: none;
        }

        > label {

        }
      }
    }
  }
}