@import 'datepicker/datepicker';
@import 'select/select';

@include breakpoint($breakpoint-fms-desktop-only) {

}

@include breakpoint($breakpoint-fms-mobile-only) {

  .ffw_segmentInstance {
    .txt__100,
    .txt__90,
    .txt__80,
    .txt__70,
    .txt__60,
    .txt__50,
    .txt__40,
    .txt__30,
    .txt__20,
    .txt__10 {
      text-align: left !important;
      height: $element-height!important;
      margin-left: $margin-left-element-offset !important;
      margin-right: $margin-left-element-offset !important;
      float: left !important;
    }

    .txt__100 {
      width: calc(100% - #{$margin-percentage-offset})!important;
    }

    .txt__90 {
      width: calc(90% - #{$margin-percentage-offset})!important;
    }

    .txt__80 {
      width: calc(80% - #{$margin-percentage-offset})!important;
    }

    .txt__70 {
      width: calc(70% - #{$margin-percentage-offset})!important;
    }

    .txt__60 {
      width: calc(60% - #{$margin-percentage-offset})!important;
    }

    .txt__50 {
      width: calc(50% - #{$margin-percentage-offset})!important;
    }

    .txt__40 {
      width: calc(40% - #{$margin-percentage-offset})!important;
    }

    .txt__30 {
      width: calc(30% - #{$margin-percentage-offset})!important;
    }

    .txt__20 {
      width: calc(20% - #{$margin-percentage-offset})!important;
    }

    .txt__10 {
      width: calc(10% - #{$margin-percentage-offset})!important;
    }
  }
}