@include breakpoint($breakpoint-fms-desktop-only) {

}

@include breakpoint($breakpoint-fms-mobile-only) {

  .ffw_segmentInstance {
    .lbl__legend__pageNr,
    .lbl__legend__text,
    .lbl__legend__text__disabled {
      text-align: left !important;
      height: $element-height!important;
      margin-left: $margin-left-element-offset !important;
      margin-right: $margin-left-element-offset !important;
      float: left !important;
    }

    .lbl__legend__pageNr,
    .lbl__legend__pageNr__disabled {
      width: calc(10% - #{$margin-percentage-offset})!important;
    }

    .lbl__legend__text,
    .lbl__legend__text__disabled {
      width: calc(90% - #{$margin-percentage-offset})!important;
    }

    .lbl__legend__pageNr__disabled,
    .lbl__legend__text__disabled {
      display: none !important;
    }
  }
}