@import 'checkbox/checkbox';
@import 'radiobutton/radiobutton';

@include breakpoint($breakpoint-fms-desktop-only) {

}

@include breakpoint($breakpoint-fms-mobile-only) {

  .ffw_segmentInstance {

    .lbl__ckb__rbtn {
      width: calc(90% - #{$margin-percentage-offset})!important;
      height: auto!important;
      margin-left: $margin-left-element-offset !important;
      margin-right: $margin-left-element-offset !important;
      float: left !important;
      padding-top: 15px!important;

      * {
        padding-top: 0!important;
      }
    }
  }
}