@include breakpoint($breakpoint-fms-desktop-only) {

}

@include breakpoint($breakpoint-fms-mobile-only) {

  .ffw_segmentInstance {

    .ckb {
      width: calc(10% - #{$margin-percentage-offset}) !important;
      height: $element-height !important;
      margin-left: $margin-left-element-offset !important;
      margin-right: $margin-left-element-offset !important;
      float: left !important;
    }
  }
}