$margin-left-element-offset: 5px;
$element-height: 60px;
$margin-percentage-offset: 30px;

$black: #000000;
$white: #ffffff;
$kn-color-white: #ffffff;
$kn-color-black: #000000;
$kn-color-light-red: #e40521;
$kn-color-dark-red: #c51A21;
$kn-color-light-gray: #fafafa;
$kn-color-medium-gray: #eeeeee;
$kn-color-dark-gray: #2a363b;
$kn-color-light-blue: #67CBF4;

$custom-gray-4a4a4a: #4a4a4a;
$custom-gray-666666: #666666;
$custom-gray-cccccc: #cccccc;


$breakpoints: (
  small: 0,
  medium: 496px,
  large: 768px,
  xlarge: 1024px,
  xxlarge: 1440px,
);
$breakpoint-fms-desktop-only: xlarge;
$breakpoint-fms-mobile-only: large down;

//Foundation-Utils
$global-font-size: 100%;
$-zf-zero-breakpoint: small !default;