.btn__next,
.btn__next__rbtnOption {
  &[disabled] {
    background-color: $custom-gray-cccccc!important;
  }
}

@include breakpoint($breakpoint-fms-desktop-only) {

}

@include breakpoint($breakpoint-fms-mobile-only) {

  .ffw_segmentInstance {
    input[type=submit] {
      height: $element-height!important;
      margin-left: $margin-left-element-offset !important;
      margin-right: $margin-left-element-offset !important;
    }

    .btn__next,
    .btn__back,
    .btn__default,
    .btn__save,
    .btn__close {
      width: calc(50% - #{$margin-percentage-offset / 2})!important;
      float: right !important;
      margin-top: 20px !important;
      margin-bottom: 50px !important;
    }
  }
}