@import 'barcode/barcode';
@import 'button/button';
@import 'check/check';
@import 'field/field';
@import 'image/image';
@import 'link/link';
@import 'signature/signature';
@import 'text/text';

@include breakpoint($breakpoint-fms-desktop-only) {

}

@include breakpoint($breakpoint-fms-mobile-only) {
  .centeredContent,
  .form,
  .page {
    width: 100% !important;
    background-color: white !important;
  }

  //Segmentcontainer -> InstanceS
  .ffw_segmentInstances {
    width: 100% !important;
    background-color: white !important;
    //background-color: #eee!important;
  }

  //Single Segment -> Instance
  .ffw_segmentInstance {
    width: calc(100% - 20px)!important;
    display: block !important;
    position: static !important;
    height: auto !important;
    overflow: auto!important;
    padding: 0 10px 10px 10px!important;

    * {
      position: static !important;
      width: calc(100% - 20px)!important;
      padding: 5px 10px !important;
      margin-left: 0!important;
      margin-right: 0!important;
      height: auto !important;
      display: block !important;
    }

    img {
      width: auto !important;
    }

    input[type=image] {
      width: auto !important;
    }

    script {
      display: none!important;
    }
  }

  label {
    &.ffw_invisible {
      display: none !important;
    }
  }

  .ffw_focussed {
    border: none!important;
  }
}