<h1>JSON Helper</h1>

<h2>ifEquals</h2>

<h3>Vergleiche die beiden Werte &quot;string&quot; und &quot;string&quot;</h3>
{{#ifEquals 'string' 'string' }}
    Die beiden Vergleichswerte sind indentisch.<br>
{{/ifEquals}}

<h3>Vergleiche die beiden Werte &quot;string&quot; und &quot;test&quot;</h3>
{{#ifEquals 'string' 'test' }}
    Die beiden Vergleichswerte sind indentisch.<br>
{{/ifEquals}}

<hr>

<h2>ifUnequals</h2>

<h3>Vergleiche die beiden Werte &quot;string&quot; und &quot;string&quot;</h3>
{{#ifUnequals 'string' 'string' }}
    Die beiden Vergleichswerte sind unterschiedlich.<br>
{{/ifUnequals}}

<h3>Vergleiche die beiden Werte &quot;string&quot; und &quot;test&quot;</h3>
{{#ifUnequals 'string' 'test' }}
    Die beiden Vergleichswerte sind unterschiedlich.<br>
{{/ifUnequals}}

<hr>

<h2>jsonValue</h2>

<h3>Suche in JSON Datei nach dem Pfad &quot;components.form.input.image&quot;</h3>
{{#jsonValue html_attributes "components.form.input.image" }}
    Der Pfad &quot;components.form.input.image&quot; kontte im JSON gefunden werden.<br>
{{/jsonValue}}

<h3>Suche in JSON Datei nach dem nicht existierenden Pfad &quot;components.form.input.TEST&quot;</h3>
{{#jsonValue html_attributes "components.form.input.TEST" }}
    Der Pfad &quot;components.form.input.TEST&quot; kontte im JSON gefunden werden.<br>
{{/jsonValue}}

<hr>

<h2>array</h2>

<h3>Erzeuge mit Hilfe des Helpers ein Array Objekt</h3>
{{#array "['val1', 'val2', 'val3', 'val4']" }}
    Array Erzeugung<br>
{{/array}}

<hr>

<h2>contains</h2>

<h3>Pr&uuml;fe, ob der String &quot;pattern&quot; im &uuml;bergebenen Array ['components', 'form', 'input', 'image'] enthalten ist</h3>
{{#contains "pattern" ( jsonValue html_attributes ( array "['components', 'form', 'input', 'image']" ) ) }}
    Das &quot;pattern&quot; Attribute ist vorhanden<br>
{{/contains}}


<h3>Pr&uuml;fe, ob der String &quot;TEST&quot; im &uuml;bergebenen Array ['components', 'form', 'input', 'image'] enthalten ist</h3>
{{#contains "TEST" ( jsonValue html_attributes ( array "['components', 'form', 'input', 'image']" ) ) }}
    Das &quot;TEST&quot; Attribute ist vorhanden<br>
{{/contains}}


<h3>Pr&uuml;fe, ob der String &quot;pattern&quot; im Rückgabewert des JSONValue Aufrufs enthalten ist</h3>
{{#contains "pattern" ( jsonValue html_attributes ( array "['components', 'form', 'input', 'image']" ) ) }}
    Das &quot;pattern&quot; Attribute ist vorhanden<br>
{{/contains}}

<h3>Pr&uuml;fe, ob der String &quot;TEST&quot; im Rückgabewert des JSONValue Aufrufs enthalten ist</h3>
{{#contains "TEST" ( jsonValue html_attributes ( array "['components', 'form', 'input', 'image']" ) ) }}
    Das &quot;TEST&quot; Attribute ist vorhanden<br>
{{/contains}}

